  html, body{

    width: 100%;
    height:100%;
    padding: 0%;
    margin: 0%;

  }

  .navList{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
}

blog{
  grid-area:blog;
}

.pollOpinion{
  grid-area:pollOpinion;
}
.BigScreen_view1{
    grid-area:BigScreen_view1;


}
.BigScreen_view2{
    grid-area:BigScreen_view2;


}

.BigScreen_view3{
  grid-area:BigScreen_view3;


}
.BigScreen_view4{
  grid-area:BigScreen_view4;


}



  .navList li a{
    text-decoration: none;
    list-style-type: none;
    color:white;
    font-weight: bold;
    


  }
  .smallScreen{

    grid-area:smain;
  }

 
  figure{
    grid-area: figure;
  }
  header{
    grid-area: head; 
  }
  aside{
 grid-area: aside; 
  }
  .homeNav{
  
    background-color: #00a82d;
    grid-area: nav;

}


footer{

    grid-area: foot;
    background-color: #00a82d;
    color:white;
    text-align:center;
}




/*Big Screen*/
@media only screen and (min-width: 1201px)  {
 
  .addressImages{
    height: 38px;
    width: 90px;
  }


  .BigScreen_view1, .BigScreen_view2, .BigScreen_view3, .BigScreen_view4{
    width: 100%;


  }
  .BigScreen_view1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

  }
  .BigScreen_view2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
  }
  .BigScreen_view3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

  }
  .BigScreen_view4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

  }

  .homeInsuranceDetails {
    font-size: 18px;
  }
  .autoInsuranceDetails {
    font-size: 18px;
  }
  .contactUsDetails{
    font-size: 18px;
  }
   .FaqUsDetail{
    font-size: 18px;
  }
  
  .BigScreen_view1 > a,   .BigScreen_view2 > a ,   .BigScreen_view3 > a ,   .BigScreen_view4 > a 
  {
   margin: 1%;

  }


  .BigScreen_view1 > article,  .BigScreen_view2 > article,  .BigScreen_view3 > article,  .BigScreen_view4 > article 
  {
   margin: 1%;

  }
 
  .logoImage {
    height: 100px;
    width: 90%;
}

    .bigScreenImg{

        height: 285px;
        width:500px;
        border-color: #00a82d;
        border-width: 4px;
        border-style: solid;
        border-radius: 12px;
    }
    .dotNavigation{

        display: none;
    
    
    }

    .containerPoll {
      width: 100%;
      background-color: #ddd;
    }

.pollOpinion{

  padding: 1%;
  margin: 1%;
  border-color: #00a82d;
  border-width: 4px;
  border-style: solid;
  border-radius: 12px;

}
.poll{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.Yes {width: 90%; background-color: #4CAF50;}
.No {width: 10%; background-color: #2196F3;}


blog{

  padding: 1%;
  margin: 1%;
  border-color: #00a82d;
  border-width: 4px;
  border-style: solid;
  border-radius: 12px;


}
aside{
  margin-top: 2%;
  font-size: 134%;
}
.blogHeading{
  font-weight: bold;


}

    .wrapper{
     
        display:grid;
        width: 95%;
        margin:auto;
      /*  background-color: lightblue;*/
        grid-template-areas: 'figure aside aside'
                              'figure aside aside'
                              'nav nav nav'
                              'BigScreen_view1 BigScreen_view1 blog'
                              'BigScreen_view2 BigScreen_view2 blog'
                              'BigScreen_view3 BigScreen_view3 pollOpinion'
                              'BigScreen_view4 BigScreen_view4 pollOpinion'
                              'foot foot foot'
                              'foot foot foot'
      
                             
    
      
      }

      .slideshow-container {
        display:none;
      }
    
      .homeScreenImage{
        display:none;
        
        }

        .smallScreen{
            display: none;
        }


    




}



/*Small Screen*/
@media only screen and (max-width: 992px) {

  .logoImage{
    height: 86px;
  }
  h5{
    text-align: center;
  }

  figure {
    margin: 0;
    padding: 0;
}

  .navList li a {
    font-size:10px;
  }
  
 
  .addressImages{
    height: 17px;
    width: 35px;
  }
  blog{

    display:none;
  }
  .pollOpinion{
    display:none;
  }
    .BigScreen_view1{

      display:none;
    }
    .BigScreen_view2{

      display:none;
    }
    .BigScreen_view3{

      display:none;
    }
    .BigScreen_view4{

      display:none;
    }
    

    .dotNavigation{

        text-align: center;
    
    
    }
   
    .wrapper{
        display:grid;
        width: 100%;
        height:100%;
        margin:auto;
        grid-template-areas: 'figure figure figure figure'
                              'aside aside aside aside'
                              'nav nav nav nav'
                              'smain smain smain smain'
                              'smain smain smain smain'
                              'foot foot foot foot'
      
                             
    
      
      }


     
    
      .dot{
    
        height:15px;
        width:15px;
        cursor:pointer;
        border-radius: 50%;
        
        }

     
    /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  

  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Slideshow container */
.slideshow-container {
  
  
    margin: auto;
    height: 500px;
    width: 100%;
  }

  .homeScreenImage{
    height: 500px;
    width: 100%;
    margin: auto;
    
    }
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
}

/*Medium Screen*/
@media only screen and (min-width: 993px) and (max-width: 1200px)  {

  aside{

    margin-top: 5%;
  }

  .addressImages {
    height: 60px;
    width: 80px;
}
  .pollOpinion{
  display:none;

 }
  blog{

    display:none;
  }
  .pollOpinion{
    display:none;
  }
  .BigScreen_view1, .BigScreen_view2, .BigScreen_view3, .BigScreen_view4{
    width: 100%;


  }
  .BigScreen_view1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

  }
  .BigScreen_view2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
  }
  .BigScreen_view3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

  }
  .BigScreen_view4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

  }

  .homeInsuranceDetails {
    font-size: 18px;
  }
  .autoInsuranceDetails {
    font-size: 18px;
  }
  .contactUsDetails{
    font-size: 18px;
  }
   .FaqUsDetail{
    font-size: 18px;
  }
  
  .BigScreen_view1 > a,   .BigScreen_view2 > a ,   .BigScreen_view3 > a ,   .BigScreen_view4 > a 
  {
   margin: 1%;

  }


  .BigScreen_view1 > article,  .BigScreen_view2 > article,  .BigScreen_view3 > article,  .BigScreen_view4 > article 
  {
   margin: 1%;

  }
 
  .logoImage {
    height: 100px;
    width: 90%;
}

    .bigScreenImg{

        height: 285px;
        width:500px;
        border-color: #00a82d;
        border-width: 4px;
        border-style: solid;
        border-radius: 12px;
    }
    .dotNavigation{

        display: none;
    
    
    }

    .wrapper{
     
        display:grid;
        width: 95%;
        margin:auto;
      
      /*  background-color: lightblue;*/
        grid-template-areas: 'figure aside'
                              'figure aside'
                              'nav nav'
                              'BigScreen_view1 BigScreen_view1'
                              'BigScreen_view2 BigScreen_view2'
                              'BigScreen_view3 BigScreen_view3'
                              'BigScreen_view4 BigScreen_view4'
                              'foot foot'
      
                             
    
      
      }

      .slideshow-container {
        display:none;
      }
    
      .homeScreenImage{
        display:none;
        
        }

        .smallScreen{
            display: none;
        }


    




}
