@media only screen and (max-width: 992px) {
    #image1
    {
     float:left;
     height:50px;
     width:20%;
    }
    .heading1
    {
        float:left;
        padding-left: 5%;
    }
    .heading2
    {
        float:right;
        font-size: 10px;
        width:75%;
        margin-top:1%;
    }
    .homeNav{      
        background-color: #00a82d;
        grid-area: nav;
        width:100%;
        display:flex;
        justify-content: space-around;      
    }
    .navList{
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1.5%;
        flex:display;
    }
    
    .navList li a{
        text-decoration: none;
        list-style-type: none;
        color:white;
        font-weight: bold;
        width:30%;
        font-size: 13px;
        padding-left:1px;
        padding-right:1px;
        
    }
    .addressImages{
        height: 17px;
        width: 35px;
        }
    #header
    {
    height:13%;  
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
    }
    
    .flex-container
    {
        padding-top: 100px;
        display:flex;
        justify-content:space-around;
        color: #ffffff;
        background-color:#00C3B5;  
        padding: 10px; 
        padding: 10px;
    }
    .content
    {       
        width:100%;
    }
    .sandeep
    {
        flex-direction:row;
    }
    .image3
    {
        width:100%;
    }
    .image2
    {
        padding-left:2%;
    }
    .images
    {
        padding-left:43%;
    }
    footer{
        grid-area: foot;
        background-color: #00a82d;
        color:white;
        text-align:center;
    }
    .para
    {
        padding-left:40%;
    }
    .para1
    {
        padding-left:32%;
        font-style: italic;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
#image1
{
 float:left;
}
.heading1
{
    float:left;
    padding-left: 5%;
}
.heading2
{

    float:right;
    font-size: 10px;
    width:80%;
    margin-top:1%;
}
.homeNav{
    background-color: #00a82d;
    grid-area: nav;
    width:100%;

}
.navList{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5%;
}

.navList li a{
    text-decoration: none;
    list-style-type: none;
    color:white;
    font-weight: bold;
    width:30%;
}
.addressImages{
    height: 17px;
    width: 35px;
    }
#header
{
height:13%;  
background-color: #ffffff;
color: #000000;
overflow: hidden;
}

.flex-container
{
    padding-top: 100px;
    display:flex;
    justify-content:space-around;
    color: #ffffff;
    background-color:#00C3B5;  
    padding: 10px; 
    padding: 10px;
}
.content
{
    width:100%;
}
.sandeep
{
    flex-direction:row;
}
.image3
{
    width:80%;
}
.image2
{
    padding-left:2%;
}
.images
{
    padding-left:43%;
}
footer{
    grid-area: foot;
    background-color: #00a82d;
    color:white;
    text-align:center;
}
.para
{
    padding-left:40%;
}
.para1
{
    padding-left:32%;
    font-style: italic;
}
}

@media only screen and (min-width: 1201px) 
{
    #image1
    {
    margin-top:1%;
     float:left;
     width:200px;
   
    }
    .heading1
    {
        float:left;
        padding-left: 5%;
    }
    .heading2
    {
        float:right;
        font-size: 20px;
        width:80%;
        margin-top:1%;
    }
    .homeNav{
      
        background-color: #00a82d;
        grid-area: nav;
        width:100%;
        margin-top:0px;
    
    }
    .navList{
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1.5%;
    }
    
    .navList li a{
        text-decoration: none;
        list-style-type: none;
        color:white;
        font-weight: bold;
        width:30%;
    }
    .addressImages{
        height: 17px;
        width: 35px;
        }
    #header
    {
    height:13%;  
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
    }
    
    .flex-container
    {
        padding-top: 100px;
        display:flex;
        justify-content:space-around;
        color: #ffffff;
        background-color:#00C3B5;  
        padding: 10px; 
        padding: 10px;
    }
    .content
    {
        width:100%;
    }
    .sandeep
    {
        flex-direction:row;
    }
    .image3
    {
        padding-left:100px;
        float:center;
        width:80%;
    }
    .image2
    {
        padding-left:2%;
    }
    .images
    {
        padding-left:43%;
    }
    footer{
        grid-area: foot;
        background-color: #00a82d;
        color:white;
        text-align:center;
    }
    .para
    {
        padding-left:40%;
    }
    .para1
    {
        padding-left:32%;
        font-style: italic;
    }
}