/* Html, body, smallMain css start */

html,
body {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.sideBar{
    grid-area: sideBar;
}

.blog {
    grid-area: blog;
}

.advertisementFirst {
    grid-area: advertisementFirst;
}

.advertisementSecond {
    grid-area: advertisementSecond;
}

.formContact {
    grid-area: formContact;

}

figure {
    grid-area: logo;
    padding: 0;
    margin: 0;
    width: 100%;
}


/* Html, body, pollOpinion, formContact css start */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color:#3AAFA9;
    color: white;
    transform: rotateY(180deg);
  }
/*Header Css start*/

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #3AAFA9;
}

.homeNav {
    grid-area: nav;
}

.navList {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navList li a {
    text-decoration: none;
    list-style-type: none;
    color: #3AAFA9;
    font-weight: bold;
    width: 30%;
    padding-top: 1.5%;
    margin-right: 20px;
}


/*Header Css end*/


/*Footer Css start*/

footer {
    grid-area: foot;
    background-color: #3AAFA9;
    color: black;
    text-align: center;
    width: 100%;
}

li>a {
    text-decoration: none;
}

.footerSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.socialMediaIcon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 60%;
}

.socialMediaIcon li {
    float: left;
    padding: 3%;
}

.copyright {
    width: 100%;
}

.footerColumnMenu {
    width: 25%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerHelp {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerColumnQuestion {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerColumnQuote {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

ul.menuStyled,
ul.locDet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuStyled li {
    list-style-type: none;
    padding-top: 12px;
    text-align: left;
}

h2.footHeading {
    text-align: left;
}

.menuStyled li a {
    text-decoration: none;
}


/*Footer Css end*/


/*Field set, submit button and input tags css start*/

h2,h5{
    text-align: center;
}
fieldset {
    background-color: #DEF2F1;
    width: 80%;
    margin-left: 10%;
}
#formMap{
    margin-left: 10%;
    padding-bottom: 5%;
}

.inputText {
    width: 52%;
    height: 100%;
    
}

.btnSend{
    margin-left: 13%;
}
.elementForm{
    list-style-type: none;
    
}


.elementForm > li{

    margin-bottom: 8px;


}



/*Field set and input tags css end*/

/* article (sideBar) css start */
.aside_auto {
	line-height: 3;
}

.quoteNow {
	color: black;
	font-weight: bold;
	font-size: 25px;
	padding-top: 7px;
	text-align: center;
}
/* article (sideBar) css end */


/*Small Screen*/

@media only screen and (max-width: 992px) {
    
    /*Header section css start*/
    .navList li a {
        font-size: 10px;
    }
    li>a {
        text-decoration: none;
        font-size: 0.75em;
    }
    H2 {
        font-size: 1em;
    }
    p {
        font-size: 12px;
    }
    /*Header section css end*/
    
    h5 {
        text-align: center;
    }
    section,.sideBar{
        display: none;
    }
    
    /*Blog section css start*/
    .blog {
        display: none;
        
        
    }
    /*Blog section css end*/
    /*Footer section css start*/
    .footerColumnQuestion {
        margin-left: 2%;
        padding-left: 3%;
        padding-right: 1%;
    }

    /*Footer section css end*/
    /*Wrapper section css start*/
    .wrapper {
        display: grid;
        width: 100%;
        height: 100%;
        margin: auto;
        grid-template-areas: 'header header header header' 'logo logo logo logo' 'nav nav nav nav' 'formContact formContact formContact formContact' 'formContact formContact formContact formContact' 'foot foot foot foot'
    }
    /*Wrapper section css end*/
    /*Form elements css start*/
    .elementForm {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .row-form {
        display: flex;
        justify-content: space-between;
        margin: 3%;
    }
    .validateButton {
        display: flex;
    }
    /*Form elements css start*/
    .logo {
        height: 46px;
    }
    .navList {
        justify-content: center;
    }
}


/*Medium Screen*/

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    
    .formContact {
        margin-top: 1%;
    }
    section,.sideBar {
        display: none;
    }
    /*Form elements css start*/
    .elementForm {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .row-form {
        display: flex;
        justify-content: space-between;
        margin: 3%;
    }
    /*Form elements css end*/
    /*Wrapper section css start*/
    .wrapper {
        display: grid;
        width: 95%;
        margin: auto;
        /*  background-color: lightblue;*/
        grid-template-areas: 'header header' 'logo logo' 'nav nav' 'formContact formContact' 'formContact formContact' 'foot foot'
    }
    /*Wrapper section css end*/
    /*Blog section start*/
    .blog {
        display: none;
    }
    /*Blog section end*/
    .logo {
        height: 50px;
    }
}


/*Big Screen*/

@media only screen and (min-width: 1201px) {
    
    /*Blog section start*/
    .blog {
        padding: 1%;
        width: 55%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: #3AAFA9;
        border: solid;
        margin-right: 15%;
    }
    /*Blog section end*/
    /*Form elements css start*/
    .elementForm {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .row-form {
        display: flex;
        justify-content: space-between;
        margin: 1%;
    }
    fieldset {
        margin-bottom: 8%;
        margin-top: 4%;
    }
    .formContact
    {
        padding-left:60px;
    }
    /*Form elements css end*/
    .insuranceadv1 {
        width: 60%;
        height: 50%;
        margin-bottom: 10%;
    }
    .sideBar {
		
		margin: auto;
		border-color: #2b7a78;
		background-color: #def2f1;
		border-style: solid;
        width:55%;
        margin-bottom: 2%;
        margin-right: 15%;

	}
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
        color: #3AAFA9;
        
    }
    /*Wrapper css start*/
    .wrapper {
        display: grid;
        width: 95%;
        margin: auto;
        grid-template-areas: 'header header header header ' 'logo logo logo logo ' 'nav nav nav nav ' 'advertisementFirst formContact formContact blog' 'advertisementFirst  formContact formContact  blog' 'advertisementSecond formContact formContact sideBar' 'advertisementSecond formContact formContact  sideBar' 'foot foot foot foot '
    }
    /*Wrapper css end*/
    .logo {
        height: 46px;
    }
}